<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="scripts.flipkartTC1"/>
      <class name="scripts.flipkartTC2"/>
      <class name="scripts.flipkartTC3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
